:root{
          --TM-Blue: #026cdf;
          --TM-Light: #E3ECF1;
          --TM-Gray: #C8D2D7;
          --TM-Black-Pearl: #1F262D;
          --TM-Aqua:#00FFFF;

}

.uk-background-primary {
    background-color: transparent;
}

h1, h2, h3, h4, h5 {
          
          font-family: 'Quicksand', sans-serif;
}

.uk-h1, h1{
    text-align: center;
    background-color: var(--TM-Blue);
    color: var(--TM-Light);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.uk-card {
    
          background-color: var(--TM-Blue);
          color: var(--TM-Light);
          border: 1px solid;
          border-color: var(--TM-Light);
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img {
        width: 500px;
        border-radius: 10px;
}


li a:hover{
    color: var(--TM-Gray);
    text-decoration: none;
}

.hide {
    display: none;
  }

.show {
    display: block;
 }

  .uk-button-default {
    background-color: var(--TM-Light);
    margin-top: 5px;
    color: var(--TM-Black-Pearl);
    border: 1px solid black;
}
  .uk-button-default:hover {
      background-color: rgb(218, 218, 218);
      border: 1px solid black;
    
}
  .uk-button-default:focus {
      background-color: rgb(218, 218, 218);
      border: 1px solid black;
    
}

.saveBtn {
        background-color: rgba(255, 255, 255, 0.521);
        padding: 20px;
        color: var(--TM-Black-Pearl);
        font-size: medium;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border: none;
        border-radius: 20px;
        margin: 10px;

}

.saveBtn:hover {
        background-color: var(--TM-Light);
        color: var(--TM-Blue);
}

span {
        display: block;
}
.shell {
    border: 3px solid white;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
}

.shell div {
        flex: 1;
}

.shell h3 {
        color: var(--TM-Blue);    
        
}
.shell p {
        color: var(--TM-Black-Pearl);   
        font-size: medium;
        margin: 5px; 
        padding: 5px;
        flex: 1;
}

#contentParentResult0, #contentParentResult1, #contentParentResult2, #contentParentResult3, #contentParentResult4 {
        border: 2px black solid;
        background-color: var(--TM-Light);
        color: var(--TM-Black-Pearl);
        margin: 15px;  
       min-width: 500px;
       padding: 10px;
       border-radius: 10px;
}




button {
        margin-bottom: 10px;
        background-color: var(--TM-Blue);
        padding: 10px;
        color: var(--TM-Light);
        border-radius: 10px;
}


button:hover {
        background-color: var(--TM-Light);
        color: var(--TM-Blue);
}

.errorMessage {
        text-align: center;
        background-color: red;
        color: var(--TM-Light);
        border-radius: 5px;
}