:root{
          --TM-Blue: #026cdf;
          --TM-Light: #E3ECF1;
          --TM-Gray: #C8D2D7;
          --TM-Black-Pearl: #1F262D;
          --TM-Aqua:#00FFFF;

}

.uk-background-primary {
    /* background-color: var(--TM-Black-Pearl); */
}

h1, h2, h3, h4, h5 {
          color: var(--TM-Light);
}

.uk-h1, h1{
    text-align: center;
    background-color: var(--TM-Blue);
    color: var(--TM-Light);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.uk-card {
    
          background-color: var(--TM-Blue);
          color: var(--TM-Light);
          border: 1px solid;
          border-color: var(--TM-Light);
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

li {
    display: block;
    
}

li a{
    color: var(--TM-Light);
}

li a:hover{
    color: var(--TM-Gray);
    text-decoration: none;
}

.hide {
    display: none;
  }

  .show {
    display: block;
  }

  .uk-button-default {
    background-color: var(--TM-Light);
    margin-top: 5px;
    color: var(--TM-Black-Pearl);
    border: 1px solid black;
}
  .uk-button-default:hover {
      background-color: rgb(218, 218, 218);
      border: 1px solid black;
    
}
  .uk-button-default:focus {
      background-color: rgb(218, 218, 218);
      border: 1px solid black;
    
}

